<app-header></app-header>

<div class="background">
    <div class="container z-depth-5">
        <!-- <h1>View Admins</h1> -->

        <table class="striped">
            <thead>
                <tr>
                    <th class="cell-header" (click)="handleSort('firstName')">
                        First Name
                        <i *ngIf="displayChevron('firstName')" class="material-icons">{{directionChevron()}}</i>
                    </th>
                    <th class="cell-header" (click)="handleSort('lastName')">
                        Last Name
                        <i *ngIf="displayChevron('lastName')" class="material-icons">{{directionChevron()}}</i>
                    </th>
                    <th class="cell-header" (click)="handleSort('username')">
                        Username
                        <i *ngIf="displayChevron('username')" class="material-icons">{{directionChevron()}}</i>
                    </th>
                    <th class="cell-header" (click)="handleSort('email')">
                        Email
                        <i *ngIf="displayChevron('email')" class="material-icons">{{directionChevron()}}</i>
                    </th>
                    <th class="cell-header" (click)="handleSort('phone')">
                        Phone
                        <i *ngIf="displayChevron('phone')" class="material-icons">{{directionChevron()}}</i>
                    </th>
                    <th class="cell-header" (click)="handleSort('status')">
                        Status
                        <i *ngIf="displayChevron('status')" class="material-icons">{{directionChevron()}}</i>
                    </th>

                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.username }}</td>
                    <td><a href="mailto:{{user.email}}">{{ user.email }}</a></td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.status === 'active' ? 'Active' : 'Deactivated' }}</td>

                    <td>
                        <a routerLink="/users/{{user.id}}"
                            class="btn-floating btn-small waves-effect waves-light green right-btn"><i
                                class="material-icons">edit</i></a>
                        <a class="btn-floating btn-small waves-effect waves-light red" (click)="deleteUser(user)"><i
                                class="material-icons">delete</i></a>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>
</div>