<app-header></app-header>

<div class="background"  style="overflow:scroll">
    <div class="container">
        <div class="row flex"> 
            <form [formGroup]="form" (ngSubmit)="submit()" class="col s12">
                <button type="button" (click)="submit()" class="right"> Submit </button>
                
                <div class="section center">
                    <h3>Holder: {{record.holder.id}}</h3>
                    <div class="row">
                        <div class="input-field col s4">
                            <b>Name</b>
                            <input formControlName="holderName" id="holderName" type="text" class="validate">
                            <span *ngIf="record.holder.holderName?.touched && record.holder.holderName?.invalid"
                                class="helper-text red-text">Holder must have a name</span>
                        </div>

                        <div class="input-field col s4">
                            <b>Home Phone</b>
                            <input formControlName="homePhone" id="homePhone" type="text" class="validate">
                        </div>

                        <div class="input-field col s4">
                            <b>Cell Phone</b>
                            <input formControlName="cellPhone" id="cellPhone" type="text" class="validate">
                            <span *ngIf="record.holder.cellPhone?.touched && record.holder.cellPhone?.invalid"
                                class="helper-text red-text">Holder must have a cell phone number</span>
                        </div>

                        <div class="input-field col s4">
                            <b>Work Phone</b>
                            <input formControlName="workPhone" id="workPhone" type="text" class="validate">
                            <span *ngIf="record.holder.workPhone?.touched && record.holder.workPhone?.invalid"
                                class="helper-text red-text">Holder must have a work phone number</span>
                        </div>

                        <div class="input-field col s4">
                            <b>Email</b>
                            <input formControlName="email" id="email" type="text" class="validate">
                            <span *ngIf="record.holder.email?.touched && record.holder.email?.invalid"
                                class="helper-text red-text">Holder must have an email</span>
                        </div>
                    </div>
                    <div class="row">
                        

                        <div class="input-field col s4">
                            <b>SSN</b>
                            <input formControlName="ssn" id="ssn" type="text" class="validate">
                            <span *ngIf="record.holder.ssn?.touched && record.holder.ssn?.invalid"
                                class="helper-text red-text">Holder must have a SSN</span>
                        </div>

                        <div class="input-field col s4">
                            <b>Address</b>
                            <input formControlName="address" id="address" type="text" class="validate">
                            <span *ngIf="record.holder.address?.touched && record.holder.address?.invalid"
                                class="helper-text red-text">Holder must have an address</span>
                        </div>

                        <div class="input-field col s4">
                            <b>P.O Box</b>
                            <input formControlName="po_box" id="po_box" type="text" class="validate">
                        </div>

                        <div class="input-field col s4">
                            <b>Zipcode</b>
                            <input formControlName="zipcode" id="zipcode" type="text" class="validate">
                            <span *ngIf="record.holder.zipcode?.touched && record.holder.zipcode?.invalid"
                                class="helper-text red-text">Holder must have a zipcode</span>
                        </div>

                        <div class="input-field col s4">
                            <b>Income</b>
                            <input formControlName="income" id="income" type="number" class="validate">
                            <span *ngIf="record.holder.monthlyIncome?.touched && record.holder.monthlyIncome?.invalid"
                                class="helper-text red-text">Holder must have a monthly income</span>
                        </div>


                    </div>

                </div>

                
                <div class="section center">
                    <h3>Card : {{record.card.id}}</h3>
                    <div class="row">

                        <div>
                            <div class="input-field col s4">
                                <b>CSV: {{record.card.csv}}</b>
                            </div>

                            <div class="input-field col s4">
                                <b>Expiration month</b>
                                <input formControlName="expiryMonth" id="expiryMonth" type="number" class="validate">
                                <span *ngIf="record.card.expiryMonth?.touched && record.card.expiryMonth?.invalid"
                                    class="helper-text red-text">Card must have an expiration month</span>
                            </div>

                            <div class="input-field col s4">
                                <b>Expiration year</b>
                                <input formControlName="expiryYear" id="expiryYear" type="number" class="validate">
                                <span *ngIf="record.card.expiryYear?.touched && record.card.expiryYear?.invalid"
                                    class="helper-text red-text">Card must have an expiration year</span>
                            </div>

                        </div>


                        <div class="row">
                            <div class="input-field col s4">
                                <b>Balance</b>
                                <input formControlName="balance" id="balance" type="number" class="validate">
                                <span *ngIf="record.card.balance?.touched && record.card.balance?.invalid"
                                    class="helper-text red-text">Card must have a balance</span>
                            </div>

                            <div class="input-field col s4">
                                <b>Cashback</b>
                                <input formControlName="cashback" id="cashback" type="number" class="validate">
                                <span *ngIf="record.card.cashback?.touched && record.card.cashback?.invalid"
                                    class="helper-text red-text">Card must have a cashback value</span>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="section center">

                    <h3>Card Record: {{record.id}}</h3>
                    <div class="row s2">

                        <div class="input-field col s4">
                            <b>Active</b>
                            <input formControlName="active" id="active" type="number" class="validate">
                            <span *ngIf="record.active?.touched && record.active?.invalid"
                                class="helper-text red-text">Card must be active or not-active</span>
                        </div>

                        <div class="input-field col s4">
                            <b>Signup date</b>
                            <input formControlName="signUpDate" id="signUpDate" type="text" class="validate">
                            <span *ngIf="record.signUpDate?.touched && record.signUpDate?.invalid"
                                class="helper-text red-text">Card must have a signup date</span>
                        </div>

                    </div>


                </div>
                    
            </form>


        </div>
    </div>
</div>