<div class="background valign-wrapper">
    <div class="container z-depth-5">
        <h1 class="center-align">SmoothBank</h1>

        <div class="row flex">
            <form [formGroup]="form" (ngSubmit)="signIn()" class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        <input formControlName="firstName" id="firstName" type="text" class="validate">
                        <label for="firstName">First Name</label>
                        <span *ngIf="firstName?.touched && firstName?.invalid" class="helper-text red-text">First Name
                            is required</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input formControlName="lastName" id="lastName" type="text" class="validate">
                        <label for="lastName">Last Name</label>
                        <span *ngIf="lastName?.touched && lastName?.invalid" class="helper-text red-text">Last Name is
                            required</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input formControlName="email" id="email" type="text" class="validate">
                        <label for="email">Email</label>
                        <span *ngIf="email?.touched && email?.invalid" class="helper-text red-text">Email must be from
                            smoothbank.com domain</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input formControlName="username" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                        <span *ngIf="username?.touched && username?.invalid" class="helper-text red-text">Username is
                            required</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input formControlName="password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                        <span *ngIf="password?.touched && password?.invalid" class="helper-text red-text">Password is
                            required</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input formControlName="confirmPass" id="confirmPass" type="password" class="validate">
                        <label for="confirmPass">Confirm Password</label>
                        <span *ngIf="confirmPass?.touched && confirmPass?.invalid"
                            class="helper-text red-text">Passwords must match</span>
                    </div>
                </div>

                <button [disabled]="form?.invalid" class="btn waves-effect waves-light green darken-2" type="submit"
                    name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

                <div class="red-text error" *ngIf="invalidRegistration">Username already in use!</div>

            </form>

            <div class="col s5 offset-s1 valign-wrapper side">
                <h5>Welcome to the Admin Portal</h5>
                <br>
                <h6>Remember, you must use your smoothbank.com email when registering</h6>
            </div>
        </div>
    </div>
</div>